<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <div id="panel">
        <h2><b>STANDARD CALCULATOR</b></h2>
        <table class="table">
            <div>
                <form>                    
                    <input placeholder="0" type="email" class="form-control" maxlength="10"  id="inputValue" [value]="displayValue">
                </form>
            </div>            
            <tr>
                
                <button id="btn" (click)="insertPlus('+')">+</button>                   
                <button id="btn"  (click)="insertMinus('-')">-</button>
                <button id="btn"  (click)="insertAsterick('*')">x</button>
                <button  id="btn" (click)="insertDivide('/')">/</button>

            </tr>
            <tr>
                <button class="button" (click)="insertNumerics('1')">1</button>
                <button  class="button"(click)="insertNumerics('2')">2</button>
                <button  class="button"(click)="insertNumerics('3')">3</button>    
                <button  class="button" (click)="insertNumerics('4')">4</button>
            </tr>            
            <tr>
               
                <button class="button"  (click)="insertNumerics('5')">5</button>
                <button  class="button" (click)="insertNumerics('6')">6</button>
                <button class="button" (click)="insertNumerics('7')">7</button>
                <button class="button" (click)="insertNumerics('8')">8</button>
            </tr>
            <tr>                
                <button class="button" (click)="insertNumerics('9')">9</button>
                <button class="button"  (click)="insertNumerics('0')">0</button>
                <button class="button"  (click)="insertNumerics('00')">00</button>                        
                <button class="button" (click)="insertDecimal('.')" >.</button>
            </tr>            
            <tr>
                <button id="btn" (click)="deleteLastItem()"><<</button>                      
                <button id="btn" (click)="deleteAll()">C</button>
                <button id="btns" (click)="arithmeticOperation('')">=</button>
            </tr>            
        </table>
    </div>
</html>
