<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>
    <body>      
        <div id="panel">
            <div>
                <h2><b>BASIC CALCULATOR</b></h2>
                <form  [formGroup]="validationForm" (ngSubmit)="basicCalculation()">
                    <div>
                        <div class="text-center" style="margin-left: 30px;">
                            <table>
                                <th id="inputfield">
                                    <input type="text" style="font-size: larger;" formControlName="inputValue1" class="form-control" placeholder="0" [ngClass]="{'is-invalid':formSubmission && validationControls.inputValue1.errors}" >
                                </th>
                                <h3>{{operation}}</h3>                                
                                <th id="inputfield">
                                    <input type="text" style="font-size: larger;" formControlName="inputValue2" class="form-control" placeholder="0" [ngClass]="{'is-invalid':formSubmission && validationControls.inputValue2.errors}" >
                                </th>                                                                     
                            </table>                                
                        </div>
                        <div>                   
                            <span *ngIf="formSubmission && validationControls.inputValue1.errors">
                                    <span class="validation-error"  style="color: black;" *ngIf="validationControls.inputValue1.errors.required">*Please enter the Input 1.</span>
                                    <span class="validation-error"  *ngIf="validationControls.inputValue1.errors.pattern" style="color:black;">*Input 1 is not Valid</span>
                                    <span class="validation-error"  *ngIf="validationControls.inputValue1.errors.min" style="color: black;">Not a Valid Input</span >
                            </span> 
                            <br>                                      
                            <span *ngIf="formSubmission && validationControls.inputValue2.errors">
                                    <span class="validation-error"  style="color: black;" *ngIf="validationControls.inputValue2.errors.required">*Please enter the Input 2.</span>
                                    <span class="validation-error"  *ngIf="validationControls.inputValue2.errors.pattern" style="color:black;">*Input 2 is not Valid</span>
                                    <span class="validation-error"  *ngIf="validationControls.inputValue2.errors.min" style="color: black;">Not a Valid Input</span >
                            </span>                       
                        </div>
                        <div id="numbers">
                            <button class="button"  (click)="assignOperator('+')">+</button>&nbsp;
                            <button class="button" (click)="assignOperator('-')">-</button>&nbsp;
                            <button class="button" (click)="assignOperator('/')">/</button>&nbsp;
                            <button class="button" (click)="assignOperator('*')">x</button><br/>
                        </div>
                    </div>
                </form> 
                <table style="margin-left: 25%;">
                    <th>
                        <h3><b>Answer:</b></h3>
                    </th>
                    <th>
                        <label id="result">{{output}}</label>
                    </th>
                </table>
                <div id="numbers">
                    <button class="button" (click)="deleteAll()">CA</button>
                </div>                    
            </div>
        </div>
    </body>
</html>
