<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="icon-bar">    
      <a routerLink="basicCalculator" class="basicCalculator"><i class="fa fa-plus-square-o"></i></a> 
      <a routerLink="standardCalculator" class="standardCalculator"><i class="fa fa-calculator"></i></a>   
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </body>
</html> 
